.Links ul {
    list-style: none;
    text-decoration: none;
}

.Links li {
    display: inline-block;
    text-decoration: none;
}

.Links a:hover,
.Links a:active,
.Links a.active {
    color: orange
}